body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('img/unganisha-bg.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .content {
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;
    margin-top: 30px;
  }
  
  .thumbnails img {
    width: 60px;
    height: 60px;
    margin: 10px;
  }
  
  a {
    text-decoration: none;
    color:grey; /* Updated link text color */
  }
  